<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" [fullscreen]="true" class="ion-text-center background-image" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="User Cheems">
    <h2 class="tx-azul tx700">Seleccione su categoría :D</h2>
    <p class="tx-cafe tx500">¿Te apetece probar algo delicioso? Descubre nuestros platos en la aplicación y elige tu favorito para disfrutar en casa. ¡Buen provecho!</p>

    <div class="categories-grid">
      <img [routerLink]="['/comidas-por-pais']" class="secciones" src="../../assets/img/por-pais.png" alt="Comidas por País">
      <img [routerLink]="['/comidas-por-tipo']" class="secciones" src="../../assets/img/por-tipo.png" alt="Comidas por Tipo">
      <img [routerLink]="['/postres']" class="secciones" src="../../assets/img/postres.png" alt="Postres">
      <img [routerLink]="['/comidas-aleatorias']" class="secciones" src="../../assets/img/aleatoria.png" alt="Comidas Aleatorias">
      <img [routerLink]="['/receta']" class="secciones" src="../../assets/img/agregar-receta.png" alt="Agregar Receta">
      <img [routerLink]="['/perfil-usuario', userId]" class="secciones" src="../../assets/img/perfil-usuario.png" alt="Perfil de Usuario">
    </div>

    <div class="button-group">
      <ion-button class="redondeado" [routerLink]="['/home']">Volver</ion-button>
      <ion-button class="redondeado" (click)="subir()">Subir</ion-button>
    </div>
  </div>
</ion-content>
