.naranjo{
    color: orangered;
  }

  .background-image{
    --background: url(../../assets/img/fondo_inicio.jpg) 0 0/100% 100% no-repeat;
  }
  
  img.cheems-huaso{
    width: 60% !important;
    width: auto;
    margin: auto;
    display: block;
  }